@import '../style/module-imports.scss';

.go-to-cv {

  padding: $standard-margin;

  text-align: center;

  background-color: $identity;
  color: $white;

  &__btn {
    @include btn;
  }
  &__btn--light {
    @include btn($white-blend, $white, $main-light);
  }

  p {
    margin-left: auto;
    margin-right: auto;
  }
}
