@import '../../style/_shared.scss';

.cv-education {
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  > h2, > p {

    margin: (2 * $standard-margin) $standard-margin;

    text-align: left;
    border-left: 8px solid transparent;
  }
}