@import '../../style/module-imports.scss';

.portfolio-page {

  h2 {
    text-align: left;
  }

  background-color: $grey;
  min-height: $default-page-height;
  padding: (2 * $standard-margin) $standard-margin;
}

@media screen and (min-width: $tablet-width) {
  .portfolio-page h2 {
      text-align: center;
    }
  .portfolio-description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.portfolio-list {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;
  justify-content: space-around;

  @include magic-grid;
}

.portfolio-item {

  &, &--dark {
    margin-top: $standard-margin;
    background-color: $white;
    min-height: 200px;
    //width: 100%;
    position: relative;

    @include shadow;


/*
    @media only screen and (min-width: $tablet-width) {
      width: 47%;
    }

    @media only screen and (min-width: $widescreen-width) {
      width: 24%;
    }*/
  }

  &--dark {
    background-color: $black-blend;
    color: $white;
  }

  &__job-title {
    text-align: left;
    font-family: Georgia;
    font-size: 16px;
  }
  &__employer {
    text-align: left;
    margin: 10px 0 20px;
  }
  &__employment-duration {
    font-family: Georgia, serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }

  &__case-btn {
    @include btn;
    margin: 0;
    margin-bottom: $standard-margin;
  }

  &__description {
    padding: $standard-margin;
    margin-bottom: 80px;
  }

  &__tag-container {
    position: absolute;
    bottom: $standard-margin;
  }

  &__tag-heading {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
  }

  &__tag-list {
    padding: 0;
    margin: 0;
  }

  &__tag-list-item {
    font-size: 12px;
    display: inline-block;
    margin-right: 0.5em;
    text-transform: capitalize;
  }
}

.portfolio-header {
  width: 100%;
  height: 0;
  // Intrinsic ratio of 16:9
  padding-bottom: 56.25%;

  background-color: $emphasis;
  background-image: url('https://zkwsk.ams3.digitaloceanspaces.com/zkwsk_assets/angle_overlay_3.svg');
  background-size: cover;

  position: relative;

  img {
    padding: 5px;
    width: 60%;
    max-height: 55%;
    position: absolute;

    // @todo: Figure out how to do flexbox centering within intrinsic ratio.
    top: 30%;
    left: 50%;
    margin-left: -30%;
  }

  .label {
    background-color: $black-blend;
    color: $white;
    text-transform: uppercase;
    padding: 0 8px 2px 8px;
    position: absolute;
    right: 0;
    top: 0;

    font-size: 4vw;

    @media only screen and (min-width: $tablet-width) {
      font-size: 2vw;
    }
    @media only screen and (min-width: $widescreen-width) {
      font-size: 1vw;
    }
  }
}

.portfolio-gallery {
  &__button {
    @include btn($white, $white, $main-light);
    margin-left: 0;
  }
}
