// Add imports to any shared files here.
@import "colors.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "variables.scss";


body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1200px;
}