/* global.css */
@import 'module-imports.scss';

body {
  margin: 0;
  padding: 0;
  background-color: $grey;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}
p {
  max-width: 650px;
}

hr {
  border-style: none;
  border-bottom: 1px solid fade-out($white, 0.7);
}
