@import '../../style/_shared.scss';
@import '../../../node_modules/baguettebox.js/dist/baguetteBox.min.css';

.gallery {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: row wrap;
    justify-content: space-around;
  }

  li {
    display: block;

    &.layout-1 {
      width: 100%;
    }
    &.layout-1 {
      width: 50%;
    }
    &.layout-1 {
      width: 33%;
    }
  }
}
.gallery-heading {
  text-transform: uppercase;
  font-size: 12px;
}